<p class="heading">Create Project</p>
<div class="d-flex m-3 p-3">
    <form id="create-data" method="post" action="/create-new-project">
        <label for="name">Name : </label>
        <input id="name" type="text" name="name" required><br>
        <label for="description">Description :</label>
        <input id="description" type="text" name="description" required><br>
        <label for="author">Author : </label>
        <input id="author" type="text" name="author" required><br>
        <button class="button" type="submit">Submit</button>
    </form>
</div>